<!-- Start About Us Section -->
<section class="about-us text-center text-md-start py-5 roboto-font">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12 m-auto">
        <p class="dark-blue mb-5 mb-md-0">We are an ambitious Saudi team striving to provide innovative
          technological
          products,
          with insuring that we have the best working atmosphere in the region.</p>
      </div>
      <div class="col-md-6 col-sm-12 text-center text-md-end">
        <img class="about-img wow fadeIn" data-wow-duration="3s" data-wow-offset="200" src="assets/about/Vector Smart Object1.png">
      </div>
    </div>
  </div>
</section>
<!-- End About Section -->

<!-- Start Our Culture Section-->
<section class="bg-color text-center py-5 roboto-font  wow bounceInUp" data-wow-duration="2s" data-wow-offset="200">
  <div class="container">
    <h2 class="dark-blue fw-bold mb-3">Our Culture</h2>
    <p class="dark-blue">We at<span class="fw-bold text-uppercase dark-blue"> cfin</span> embrace impact-oriented
      mentality within our
      organization. We choose to
      work
      wherever we like and whenever we prefere so that we can provide adding value
      products to our customers with full integrity.
      Solving complicated problems is our enjoyment. </p>
  </div>
</section>
<!-- End Our Culture Section-->

<!-- Start Partners Section -->
<section class="py-5 roboto-font text-center partners">
  <div class="container">
    <h2 class="dark-blue fw-bold mb-5">Partners in Success</h2>
    <img src="assets/about/Vector Smart Object2.png" loading="lazy" class="mb-5">
    <p class="fs-4 py-0 px-md-5">We care about your firm as much as we care about our.<br> Win/ win
      mentality is our way of thinking. We will always support you in areas beyond
      our products' limits, and we will share with you the best practices in the market </p>
  </div>
</section>
<!-- End Partners Section -->
