<section class="footer py-5 roboto-font text-center text-md-start wow bounceInUp" data-wow-duration="3s"
  data-wow-offset="200">
  <div class="container">
    <div class="row">
      <!-- <div class="col-md-6 col-sm-12"> -->
      <div class="col-md-3 col-sm-12 text-center">
        <img src="assets/home/logo footer.png" class="w-md-75 w-50 mb-4">
        <div class="social gray-color d-flex justify-content-evenly mb-5 mb-md-0">
          <a href="#">
            <i class="rounded-circle fa fa-facebook-f fs-6 text-white"></i>
          </a>
          <a href="#">
            <i class="rounded-circle fa fa-twitter fs-6 text-white"></i>
          </a>
          <a href="#">
            <i class="rounded-circle fa fa-linkedin fs-6 text-white"></i>
          </a>
        </div>
      </div>
      <div class="col-md-3 col-sm-12 website">
        <h6 class="light-color mb-md-4 fs-5">Website Map</h6>
        <ul class="list-unstyled">
          <li>
            <a class="text-white fs-6 text-decoration-none" routerLink="/home" routerLinkActive="active">
              Home
            </a>
          </li>
          <li class="mt-2"><a class="text-white fs-6 text-decoration-none" routerLink="/about"
              routerLinkActive="active">About Us</a></li>
          <li class="mt-2"><a class="text-white fs-6 text-decoration-none" routerLink="/contactus"
              routerLinkActive="active">Contact Us</a></li>
          <li class="mt-2"><a class="text-white fs-6 text-decoration-none" routerLink="/signin"
              routerLinkActive="active">Login</a></li>
          <li class="mt-2"><a class="text-white fs-6 text-decoration-none" routerLink="/signup"
              routerLinkActive="active">Sign Up</a></li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-12">
        <h6 class="light-color mb-md-4 fs-5 mt-3 mt-md-0">Contact Us</h6>
        <ul class="list-unstyled">
          <li><a href="#" class="text-white mb-3 fs-6 text-decoration-none">+880 12345678</a></li>
          <li class="mt-2"><a href="#" class="text-white fs-6 text-decoration-none">youremail@gmail.com</a></li>
          <li class="mt-2"><a href="#" class="text-white fs-6 text-decoration-none">Your City</a></li>
        </ul>
      </div>
      <!-- </div> -->
      <div class="col-md-3 px-md-0 col-sm-12 footerText text-white">
        <P class="fs-6">
          <span class="fw-bold text-uppercase">cfin</span>
          will unleash your business potential
          and drive everlasting impact by providing insights about all
          your busines financial in a simple dashboard
        </P>
      </div>
    </div>
    <div class="end mt-md-4 text-center text-white ">
      <a href="#" class="text-white text-decoration-none">
        <span class="me-5">Terms of use</span>
      </a>
      <span>|</span>
      <a href="#" class="text-white text-decoration-none">
        <span class="ms-5">Privacy Policy</span>
      </a>
    </div>
  </div>
</section>
