.gray-color {
  color: #A9A9A9;
}

.footer {
  background-color: #001769;
  background-image: url('../../../assets/home/footer.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.social i {
  border: 1px solid #CCC;
  padding: 8px 10px;
}

.social .fa-facebook-f {
  padding: 8px 12px;
}

.fa-facebook-f:hover,
.fa-linkedin:hover {
  background: #3B5998;
  color: #fff;
}

.fa-twitter:hover {
  background-color: #55ACEE;
  color: #fff
}

.social {
  font-size: 12px;
}

.footer .footerText {
  line-height: 2;
  padding-top: 38px;
}

.footer a {
  font-size: 12px;
}

.footer li a:hover,
.footer a span:hover {
  color: #00e5b9 !important;
  transition: all ease-in-out .5s;
}

.website {
  padding-left: 4em;
}

@media(max-width: 992px) {
  .footer .footerText {
    padding: 10px;
  }

  .website {
    padding-left: 0;
  }
}

@media(min-width: 768px) {
  .footer .footerText p {
    padding: 0;
  }

  .footer .col-md-4 {
    padding: 0;
  }
}
