<!-- start signin section -->
<section class="py-5 pb-0 pb-md-5 roboto-font text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12 text-md-start ps-md-5">
        <img src="assets/sign/Vector Smart Object.png" alt="image" class="ms-md-5 w-50 mb-5 mb-md-0">
      </div>
      <div class="col-md-6 col-sm-12 text-center m-auto">
        <h2 class="light-color fw-bold mb-md-5 mb-4">Welcome back !</h2>
        <form class="mb-3">
          <div class="form-input">
            <input type="email" class="mb-4 border-start-0 border-top-0 border-end-0 m-auto w-75 py-1 px-0"
              placeholder="Email">
          </div>
          <div class="form-input">
            <input type="password" class="mb-5 border-start-0 border-top-0 border-end-0 m-auto w-75 py-1 px-0"
              placeholder="Password">
          </div>
          <button class="btn px-5 bg-color rounded-5 fs-6 dark-blue fw-bold border-0" routerLink="/home">
            Log In
          </button>
        </form>
        <p class="fs-6 dark-blue fw-bold ml-3 mb-5 mb-md-0">
          Don't have account ?
          <a routerLink="/signup" class="dark-blue fw-bold text-decoration-underline">
            <strong>Sign Up</strong>
          </a>
        </p>
      </div>
    </div>
  </div>
</section>

<!-- end signin section -->
