hr {
  height: 2px;
  background-image: linear-gradient(to right, rgba(181, 185, 210, -1),
      rgba(0, 23, 105, 1), rgba(181, 185, 210, -1));
}


.introduction .par {
  padding: 40px;
}

.business {
  background-color: #efeffe;
}

li::before {
  content: "";
  background: #00e5b9;
  border-radius: 50%;
  margin: 0 15px 0 0;
  padding: 8px;
  font-size: 4px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.btn {
  background-color: white;
}

.btn:hover {
  background-color: #001769 !important;
}

/* Media Query */
@media(max-width:992px) {
  .introduction .par {
    padding: 0px;
    padding-left: 30px;
  }

  .business {
    margin-top: 10px;
    padding-top: 3em;
  }

}



@media (max-width: 465px) {

  .introduction .par {
    padding: 0px;
    padding-left: 0px;
  }

  /*

  .firm {
    padding: 30px 0;
  }

  .firm .firm-head {
    padding: 0;
  }

  .firm .form-group .touch {
    margin: 0 0 5% 15%;
  }

  .firm .form-group {
    padding: 10px 0;
  } */
}


@media(min-width: 768px) {
  .business {
    margin-top: -13em;
    padding-top: 15em;
    padding-bottom: 5em;
  }

}
