<!-- Start Introduction Section -->
<section class="introduction roboto-font pt-3 pt-md-5 text-center text-md-start">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12 m-auto">
        <p class="fs-4 dark-blue mb-5 mb-md-0 par">
          <span class="fw-bold text-uppercase">cfin</span> will unleash your business's potential
          and drive everlasting impact by providing insights about all
          your business financials in a simple dashboard.
        </p>
      </div>
      <div class="col-md-6 col-sm-12 text-center text-md-end">
        <img class="w-75 wow fadeIn" data-wow-duration="4s" data-wow-offset="300"
          src="assets/home/Vector Smart Object copy.png" alt="Vector Smart">
      </div>
    </div>
    <div class="text-center mt-5 mb-3">
      <h6 class="dark-blue fs-4 mb-4">A Simplistic, Informative, and Leading Tool</h6>
      <button class="btn mb-5 mb-md-0 bg-color rounded-5 border-0 py-2 px-4 dark-blue fs-5" routerLink="/signup">
        Start your free trial now
      </button>
    </div>

    <div class="row mt-md-5 py-md-5">
      <div class="col-md-6 text-center col-sm-12 mb-4 m-auto wow slideInLeft" data-wow-duration="2s"
        data-wow-offset="200">
        <img class="w-75" src="assets/home/Vector Smart Object-3.png" alt="Vector Smart">
      </div>
      <div class="col-md-6 col-sm-12 m-auto wow slideInRight" data-wow-duration="2s" data-wow-offset="200">
        <h4 class="dark-blue fw-bold ms-md-5">Before</h4>
        <p class="fs-5 ms-md-5">
          Multiple files with multiple versions <br>related to different financial subjects
        </p>
      </div>
    </div>
    <hr class="border-0" />
    <div class="row py-md-5 mb-3">
      <div class="col-md-6 col-sm-12 m-auto wow slideInLeft" data-wow-duration="2s" data-wow-offset="200">
        <h4 class="dark-blue fw-bold ms-md-5">After</h4>
        <p class="fs-5 ms-md-5">
          All in one live and unified dashboard that presents <br> the most critical insights of your firm
        </p>
      </div>
      <div class="col-md-6 col-sm-12 text-center my-3 my-md-0  wow slideInRight" data-wow-duration="2s"
        data-wow-offset="200">
        <img class="w-75" src="assets/home/Vector Smart Object-4.png" alt="Vector Smart">
      </div>
    </div>
    <div class="text-center mt-4 mb-5">
      <button class="btn bg-color rounded-5 border-0 py-2 px-4 dark-blue fs-5" routerLink="/about">
        Know More About Us
      </button>
    </div>
    <app-card></app-card>
  </div>
</section>
<!-- End Introduction Section -->

<!-- Start Business Section -->
<section class="dark-blue business">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <h4 class="fw-bold mb-5">Business Concepts That Feed CFIN's Brain</h4>
        <ul class="list-unstyled">
          <li class="fs-6 d-flex align-items-end mb-4" *ngFor="let concept of concepts">
            <div>
              <p class="fw-bold mb-0">{{concept.title}}</p>
              <p class="mb-0">{{concept.details}}</p>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-md-6 col-sm-12 text-center my-4 my-md-0 text-md-end wow fadeIn" data-wow-duration="3s"
        data-wow-offset="200">
        <img class="w-75" src="assets/home/Vector Smart Object-5.png" alt="Vector Smart Object">
      </div>
    </div>
  </div>
</section>
<!-- End Business Section -->

<!-- Start Statistics Section -->
<section class="bg-color py-4 text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12 m-auto  wow bounceInLeft" data-wow-duration="2s" data-wow-offset="200">
        <h2 class="dark-blue fw-bold mb-0">Start your free trial now</h2>
        <p class="text-white">One month free then 150 SAR/ month or 1350/ year(112.5 SAR/month)</p>
        <button class="btn startNow dark-blue border-0 fw-bold rounded-5 fs-5 px-4 mt-2 mb-5 mb-md-0"
          routerLink="/signin">
          Start now
        </button>
      </div>
      <div class="col-md-6 col-sm-12  wow bounceInRight" data-wow-duration="2s" data-wow-offset="200">
        <div class="text-center text-md-end">
          <img class="w-75" src="assets/home/Mocha.png" alt="image">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Statistics Section -->

<!-- Start Firm Section -->
<section class="text-center roboto-font py-5">
  <div class="container">
    <h2 class="fw-bold dark-blue mb-5 mb-md-3 mt-3">We care about your firm as much as <br> we care
      about ours.</h2>
    <div class="row">
      <div class="col-md-6 col-sm-12 m-auto">
        <img src="assets/home/contact.png" class="mt-md-5 w-75 wow fadeIn" data-wow-duration="2s" data-wow-offset="200"
          alt="Contact">
      </div>
      <div class="col-md-6 col-sm-12 form-group">
        <h2 class="fs-1 mt-5 light-color fw-bold mb-4">Get In Touch</h2>
        <form [formGroup]="form">
          <div class="form-input mb-3">
            <input type="text" formControlName="name" required
              class="border-start-0 border-top-0 border-end-0 m-auto w-75 py-2 px-0" placeholder="Name">
            <div class="text-start ms-5 ps-4 text-danger" *ngIf="(name?.touched || name?.dirty) && name?.invalid">
              <span *ngIf="name?.errors?.['required']">Name is required</span>
              <span *ngIf="name?.errors?.['minlength']">Name must be more than 3 letters</span>
            </div>
          </div>
          <div class="form-input mb-3">
            <input type="email" formControlName="email" required
              class="border-start-0 border-top-0 border-end-0 m-auto w-75 py-2 px-0" placeholder="Email">
            <div class="text-start ms-5 ps-4 text-danger" *ngIf="email?.invalid && (email?.touched || email?.dirty)">
              <span *ngIf="email?.errors?.['required']">Email is required</span>
              <span *ngIf="email?.errors?.['email']">Invalid Email</span>
            </div>
          </div>
          <div class="form-input mb-3">
            <input type="text" formControlName="subject" required
              class="border-start-0 border-top-0 border-end-0 m-auto w-75 py-2 px-0" placeholder="Subject">
            <div class="text-start ms-5 ps-4 text-danger"
              *ngIf="subject?.invalid && (subject?.touched || subject?.dirty)">
              <span *ngIf="subject?.errors?.['required']">Subject is required</span>
              <span *ngIf="subject?.errors?.['minlength']">Subject must be more than 3 letters</span>
            </div>
          </div>
          <div class="form-input mb-5">
            <input type="text" formControlName="details" required
              class="border-start-0 border-top-0 border-end-0 m-auto w-75 py-2 px-0" placeholder="Details">
            <div class="text-start ms-5 ps-4 text-danger"
              *ngIf="details?.invalid && (details?.touched || details?.dirty)">
              <span *ngIf="details?.errors?.['required']">Details is required</span>
              <span *ngIf="details?.errors?.['minlength']">Details must be more than 10 letters</span>
            </div>
          </div>
          <button [disabled]="!form.valid" class="btn px-4 rounded-5 fs-5 dark-blue fw-bold border-0" type="submit"
            routerLink="/signup">Contact Us</button>
        </form>
      </div>
    </div>
  </div>
</section>
<!-- End Firm Section -->
