<!-- start signin section -->
<section class="py-5 pb-0 pb-md-5 roboto-font text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12 text-md-start ps-md-5">
        <img src="assets/sign/Vector Smart Object.png" loading="lazy" alt="image" class="ms-md-5 w-50 mb-5 mb-md-0 wow fadeIn"
          data-wow-duration="3s" data-wow-offset="300">
      </div>
      <div class="col-md-6 col-sm-12 text-center m-auto">
        <h2 class="light-color fw-bold mb-md-5 mb-4">Welcome back !</h2>
        <form class="mb-3" [formGroup]="signinForm">
          <div class="form-input mb-4">
            <input type="email" formControlName="email" required
              class="border-start-0 border-top-0 border-end-0 m-auto w-75 py-1 px-0" placeholder="Email">
            <div class="text-danger text-start ms-5 ps-4" *ngIf="email?.invalid && (email?.touched || email?.dirty)">
              <span *ngIf="email?.errors?.['required']">Email is required</span>
              <span *ngIf="email?.errors?.['email']">Invalid email</span>
            </div>
          </div>
          <div class="form-input mb-5">
            <input type="password" formControlName="password" required
              class="border-start-0 border-top-0 border-end-0 m-auto w-75 py-1 px-0" placeholder="Password">
            <div class="text-danger text-start ms-5 ps-4"
              *ngIf="password?.invalid && (password?.touched || password?.dirty)">
              <span *ngIf="password?.errors?.['required']">Password is required</span>
            </div>
          </div>
          <button [disabled]="!signinForm.valid" class="btn px-5 rounded-5 fs-6 dark-blue fw-bold border-0"
            routerLink="/main/home">
            Log In
          </button>
        </form>
        <p class="fs-6 dark-blue fw-bold ml-3 mb-5 mb-md-0">
          Don't have account ?
          <a routerLink="/user/signup" class="dark-blue fw-bold text-decoration-underline">
            <strong>Sign Up</strong>
          </a>
        </p>
      </div>
    </div>
  </div>
</section>

<!-- end signin section -->
