<section class="py-5 roboto-font">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12 text-center">
        <h2 class="dark-blue fw-bold text-md-start">Start your free trial now</h2>
        <p class="fs-6 mb-4 text-md-start">One month free then 150 SAR/ month<br /> or 1350/ year (112.5 SAR/month)</p>
        <form class="mb-3">
          <div class="form-input">
            <input type="text" class="mb-4 border-start-0 border-top-0 border-end-0 m-auto w-75 py-1 px-0"
              placeholder="First Name">
          </div>
          <div class="form-input">
            <input type="text" class="mb-4 border-start-0 border-top-0 border-end-0 m-auto w-75 py-1 px-0"
              placeholder="Last Name">
          </div>
          <div class="form-input">
            <input type="email" class="mb-4 border-start-0 border-top-0 border-end-0 m-auto w-75 py-1 px-0"
              placeholder="Email">
          </div>
          <div class="form-input">
            <input type="number" class="mb-4 border-start-0 border-top-0 border-end-0 m-auto w-75 py-1 px-0"
              placeholder="Mobile">
          </div>
          <div class="form-input">
            <input type="password" class="mb-5 border-start-0 border-top-0 border-end-0 m-auto w-75 py-1 px-0"
              placeholder="Password">
          </div>
          <button class="btn px-4 bg-color rounded-5 fs-6 dark-blue fw-bold border-0" type="submit"
            routerLink="/signin">
            Get Started
          </button>
        </form>

        <p class="fs-6 dark-blue fw-bold  ml-3 mb-5 mb-md-0">
          Already have an account ?
          <a routerLink="/signin" class="dark-blue fw-bold text-decoration-underline">
            <strong>Log in</strong>
          </a>
        </p>
      </div>
      <div class="col-md-6 col-sm-12 text-center d-flex align-items-center justify-content-center">
        <img src="assets/sign/Vector Smart Object-1.png" class="w-50" alt="image">
      </div>
    </div>
  </div>
</section>
